<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js'></script>
    <style>
      body { font-family: sans-serif; font-size: 13px; line-height: 1.5; background: #d0d0da; }
      #messages { width: 400px; margin: 20px auto; background: white; padding: 20px; border: solid 10px #c0c0ca; }
      h3 { border-top: dotted 1px #ccc; padding: 20px 20px 0 20px; margin: 20px -20px 0 -20px; color: #46a; }
      h3:first-child { border-top: 0; margin-top: 0; padding-top: 0; }
      dl { overflow: hidden; }
      dt { float: left; width: 120px; margin-right: 10px; text-align: right; color: #aaa; }
      h3 { font-family: palatino; font-size: 1.3em; }
    </style>
</head>
<body>
    <div id="messages">
    </div>
    <script src='app.js'></script>
</body>
</html>
